<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="" name="description"/>
    <meta content="webthemez" name="author"/>
    <!-- Bootstrap Styles-->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="../static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../static/assets/js/Lightweight-Chart/cssCharts.css">
    <title>分布式爬虫管理监控系统</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    {% block navtop %}
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><strong><i class="icon fa fa-plane"></i> 分布式爬虫系统</strong></a>
            </div>
        </nav>
    {% endblock %}
    <!--/. NAV TOP  -->
    {% block navlist %}
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="active-menu" href="http://127.0.0.1:8050/index"><i class="fa fa-dashboard"></i>
                            爬虫概况</a>
                    </li>
                    <li>
                        <a href="/spiderjob/"><i class="fa fa-desktop"></i>爬虫工作台</a>
                    </li>
                    <li>
                        <a href="/spiderstatus/"><i class="fa fa-sitemap"></i> 任务状态</a>
                    </li>
                    <li>
                        <a href="tab-panel.html"><i class="fa fa-qrcode"></i> Tabs & Panels</a>
                    </li>

                    <li>
                        <a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a>
                    </li>
                    <li>
                        <a href="form.html"><i class="fa fa-edit"></i> Forms </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    <!-- /. NAV SIDE  -->
    {% block content %}
    {% endblock content %}
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->

<script src="../static/assets/js/jquery-1.10.2.js"></script>
<script src="../static/assets/jquery-1.9.1.min.js"></script>
<!-- Bootstrap Js -->
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="../static/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="../static/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="../static/assets/js/morris/morris.js"></script>
<script src="../static/assets/js/easypiechart.js"></script>
<script src="../static/assets/js/easypiechart-data.js"></script>
<script src="../static/assets/js/Lightweight-Chart/jquery.chart.js"></script>
<!-- Custom Js -->
<script src="../static/assets/js/custom-scripts.js"></script>
<!-- Chart Js -->
<script type="text/javascript" src="../static/assets/js/chart.min.js"></script>
<script type="text/javascript" src="../static/assets/js/chartjs.js"></script>
{% block script %}
{% endblock %}
</body>
</html>