<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="" name="description"/>
    <meta content="webthemez" name="author"/>
    <!-- Bootstrap Styles-->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="../static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    {#    <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>#}
    <link rel="stylesheet" href="../static/assets/js/Lightweight-Chart/cssCharts.css">
    <title>分布式爬虫管理监控系统</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    {% block navtop %}
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong><i class="icon fa fa-plane"></i> 分布式采集系统</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/" style="color: #4D4D4D">爬虫项目管理</a></li>
                    <li><a href="/spiderconfigs/" style="color: #4D4D4D">爬虫规则管理</a></li>
                    <li class="active"><a href="/serverstatus/" style="color: #4D4D4D">爬虫性能监控</a></li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    <!--/. NAV TOP  -->
    {% block navlist %}
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="/serverstatus/"><i class="fa fa-dashboard"></i>
                            系统性能监控</a>
                    </li>
                    <li>
                        <a href="/spiderjob/"><i class="fa fa-desktop"></i>入库状态监控</a>
                    </li>
                    <li>
                        <a href="/spiderstatus/"><i class="fa fa-sitemap"></i>网络流量监控</a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    <!-- /. NAV SIDE  -->
    {% block content %}
    {% endblock content %}
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->

<script src="../static/assets/js/jquery-1.10.2.js"></script>
<script src="../static/assets/jquery-1.9.1.min.js"></script>
<!-- Bootstrap Js -->
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- echarts-->
<script src="../static/assets/js/echarts.min.js"></script>
<!-- Metis Menu Js -->
<script src="../static/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="../static/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="../static/assets/js/morris/morris.js"></script>
<script src="../static/assets/js/easypiechart.js"></script>
<script src="../static/assets/js/easypiechart-data.js"></script>
<script src="../static/assets/js/Lightweight-Chart/jquery.chart.js"></script>
<!-- Custom Js -->
<script src="../static/assets/js/custom-scripts.js"></script>
<!-- Chart Js -->
<script type="text/javascript" src="../static/assets/js/chart.min.js"></script>
<script type="text/javascript" src="../static/assets/js/chartjs.js"></script>
<style type="text/css">
    <!--
    -->
    body {
        font-family: '微软雅黑';
        font-size: 14px;
    }
</style>
{% block script %}

{% endblock %}
</body>
</html>