{% extends 'base_configs.html' %}
{% block content %}
    <div id="page-wrapper" xmlns:http="http://www.w3.org/1999/xhtml">
        <div class="header">
            <h1 class="page-header">
                配置文件列表
            </h1>
            <ol class="breadcrumb">
                <li><a href="/spiderconfigs/">主页</a></li>
                <li><a href="/configfile/">配置列表</a></li>
                <li class="active">详情</li>
            </ol>
            <div class="panel panel-success">
                <div class="panel-heading green">
                    <p class="img-rounded green"> 配置详情</p>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="4%">
                            序号
                        </th>
                        <th width="35%">
                            入口地址
                        </th>
                        <th width="20%">
                            采集类型
                        </th>
                        <th width="20%">
                            爬虫名
                        </th>
                        <th width="20%">
                            网站名
                        </th>
                    </tr>
                    </thead>
                    {% for key in keywords %}
                        <tr>
                            <td></td>
                            {% for v in key.values %}
                                <td>
                                    {{ v }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="../static/assets/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var len = $('table tr').length;
            for (var i = 1; i < len; i++) {
                $('table tr:eq(' + i + ') td:first').text(i);
            }
        });
    </script>
{% endblock %}