{% extends 'base_scrapyd.html' %}
{% block content %}
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                爬虫项目概况
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">主页</a></li>
                <li><a href="#">爬虫概况</a></li>
                <li class="active">详情</li>
            </ol>
        </div>
        <div id="page-inner">
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="board" >
                        <div class="panel panel-primary red">
                            <div class="number">
                                <h3>
{#                                    <h3 style="color: #FFFFFF">{{ projects }}</h3>#}
                                    <h3 style="color: #FFFFFF">17</h3>
                                    <small style="color: #FFFFFF">项目版本数</small>
                                </h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-eye fa-5x red"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary blue">
                            <div class="number">
                                <h3>
{#                                    <h3 style="color: #FFFFFF">{{ spiders }}</h3>#}
                                    <h3 style="color: #FFFFFF">1056</h3>
                                    <small style="color: #FFFFFF">爬虫总数</small>
                                </h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-shopping-cart fa-5x blue"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary green">
                            <div class="number">
                                <h3>
{#                                    <h3 style="color: #FFFFFF">{{ running }}</h3>#}
                                    <h3 style="color: #FFFFFF">35</h3>
                                    <small style="color: #FFFFFF">爬虫运行数</small>
                                </h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-comments fa-5x green"></i>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary yellow">
                            <div class="number">
                                <h3>
{#                                    <h3 style="color: #FFFFFF">{{ finished }}</h3>#}
                                    <h3 style="color: #FFFFFF">2136</h3>
                                    <small style="color: #FFFFFF">爬虫完成数</small>
                                </h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user fa-5x yellow"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <!-- /. ROW  -->
            <footer>
                <p>Copyright &copy; 2016西部资信
            </footer>
        </div>
    </div>
        <!-- /. PAGE INNER  -->
{% endblock %}