{% extends 'base_stats.html' %}
{% block content %}
    <div id="page-wrapper" xmlns:http="http://www.w3.org/1999/xhtml">
        <div class="header">
            <h1 class="page-header">
                系统性能
                <small>欢迎查看</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/serverstatus/">主页</a></li>
                <li><a href="/serverstatus/">系统性能</a></li>
                <li class="active">详情</li>
            </ol>
        </div>
    </div>
{% endblock %}