{% extends 'base.html' %}
{% block content %}
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                爬虫项目概况
                <small>欢迎查看</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index/">主页</a></li>
                <li><a href="/spiderstatus/">任务状态</a></li>
                <li class="active">详情</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="bg-info img-rounded">&nbsp;&nbsp;&nbsp;爬虫任务等待</p>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>服务器地址</th>
                                    <th>项目名称</th>
                                    <th>爬虫名称</th>
                                    <th>Job ID</th>
                                    <th>开始时间</th>
                                    <th>结束时间</th>
                                    <th>日志</th>
                                    <th>Items</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for trs in pendings %}
                                    <tr>
                                        {% for pending in trs %}
                                            <td>{{ pending }}</td>
                                         {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="bg-primary img-rounded">&nbsp;&nbsp;&nbsp;爬虫运行状态</p>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>服务器地址</th>
                                    <th>项目名称</th>
                                    <th>爬虫名称</th>
                                    <th>Job ID</th>
                                    <th>开始时间</th>
                                    <th>结束时间</th>
                                    <th>日志</th>
                                    <th>Items</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for trs in runnings %}
                                    <tr>
                                        {% for running in trs %}
                                            <td>{{ running }}</td>
                                         {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="bg-success  img-rounded">&nbsp;&nbsp;&nbsp;爬虫完成状态</p>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>服务器地址</th>
                                    <th>项目名称</th>
                                    <th>爬虫名称</th>
                                    <th>Job ID</th>
                                    <th>开始时间</th>
                                    <th>结束时间</th>
                                    <th>日志</th>
                                    <th>Items</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for trs in finishes %}
                                    <tr>
                                        {% for finished in trs %}
                                            <td>{{ finished }}</td>
                                         {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}