<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script type="text/javascript">
    var now = new Date();
    var date = [now.getHours(),now.getMinutes(),now.getSeconds(),now.getMilliseconds()].join(":");
    console.info(date);
    var base = +new Date(now.getHours(),now.getMinutes(),now.getSeconds(),now.getMilliseconds());
    var now1 = new Date(base);
    console.info(now1);
    var distancetime = new Date(new Date().getTime() - 1000*60);
    console.info(distancetime)
</script>
</head>
<body>
</body>
</html>